﻿@using Nop.Web.Models.Customer
@model CategoryProductListModel

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ShoppingCheckList })
}

<div class="account-page shopping-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ShoppingList")</h1>
    </div>
    @Html.Partial("_CategoryProductSelectTree", Model.Categories)
</div>
