﻿@using Nop.Web.Models.Customer
@model Nop.Web.Models.Customer.ShoppingCheckListModel

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ShoppingCheckList })
}

<style>
    .modal-backdrop {
        display: none;
    }

    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .btn-save-checklist {
        min-width: 140px;
        border: none;
        background-color: #4ab2f1;
        padding: 10px 30px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    .fieldset {
        margin: 0px !important;
    }

    .form-fields {
        padding: 15px 15px !important;
    }

    .inputs {
        margin: 10px !important;
    }
</style>

@using (Html.BeginForm("EditShoppingCheckList", "Customer", FormMethod.Post))
{
    <div class="page account-page shopping-list-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.EditShoppingCheckList")</h1>
        </div>
        <div class="page-body">
            <div class="add-button">
                <button type="button" class="btn-lg button-1" data-toggle="modal" data-target="#checkListItemModal">@T("ShoppingCheckListItem.AddNewItem")</button>
            </div>
            <div class="table-wrapper">
                <table class="cart">
                    <thead>
                        <tr>
                            <th class="remove-from-cart">
                                @T("ShoppingCheckListItem.Remove")
                            </th>
                            <th class="product">
                                @T("ShoppingCheckListItem.ProductType")
                            </th>
                            <th class="quantity">
                                @T("ShoppingCheckListItem.Quantity")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ShoppingCheckListItems.Count; i++)
                        {
                            <tr>
                                @Html.HiddenFor(x => x.ShoppingCheckListItems[i].Id)
                                @Html.HiddenFor(x => x.ShoppingCheckListItems[i].OldQuantity)
                                <td class="remove-from-cart">
                                    @Html.CheckBoxFor(x => x.ShoppingCheckListItems[i].Deleted)
                                </td>
                                <td class="product">
                                    @*@Html.TextBoxFor(x => x.ShoppingCheckListItems[i].ProductType)*@
                                    <span class="product-unit-price">@Model.ShoppingCheckListItems[i].ProductType</span>
                                </td>
                                <td class="quantity">
                                    <span class="product-unit-price">@Html.TextBoxFor(x => x.ShoppingCheckListItems[i].Quantity)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="cart-options">
                <div class="common-buttons">
                    @if (Model.ShoppingCheckListItems.Any())
                    {

                        <input type="submit" name="updateshoppinglist"
                               value="@T("Account.ShoppingCheckList.UpdateShoppingCheckListItem")" class="button-2" />

                    }
                    <a href="/customer/shoppingchecklist" value="Back to list" class="btn btn-default button-2" onclick="">@T("ShoppingCheckListItem.BackToList")</a>
                </div>
            </div>
        </div>

    </div>
}

<div id="checkListItemModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="page-body">
                    @using (Html.BeginForm("AddShoppingCheckListItem", "Customer", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.Id, new { @Name = "ShoppingCheckListId" })
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("ShoppingCheckList.CreateNewShoppingCheckList")</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label for="ProductType">@T("ShoppingCheckListItem.Fields.ProductType"):</label>
                                    <input class="text-box single-line valid" data-val="true" data-val-required="@T("ShoppingCheckListItem.Fields.ProductType.Required")" id="ProductType" name="ProductType" type="text" value="">
                                    <span class="required">*</span>
                                    <span class="field-validation-valid" data-valmsg-for="ProductType" data-valmsg-replace="true"></span>
                                </div>
                                <div class="inputs">
                                    <label for="Quantity">@T("ShoppingCheckListItem.Fields.Quantity"):</label>
                                    <input class="text-box single-line valid" data-val="true" data-val-required="@T("ShoppingCheckListItem.Fields.Quantity.Required")" id="Quantity" name="Quantity" type="text" value="1">
                                    <span class="required">*</span>
                                    <span class="field-validation-valid" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="add-button" style="text-align: center">
                            <input type="submit" value="@T("Common.Save")" name="save-info-button" class="btn-save-checklist">
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@T("Common.Close")</button>
            </div>
        </div>
    </div>
</div>

<script>
    var message = '@ViewBag.Message';

    if (message !== '') {
        displayBarNotification(message, 'success', 3500);
    }

    $(document).ready(function () {

        $('#checkListItemModal').on('show.bs.modal', function (e) {
            $(".header-menu, .header, .header-upper").css('position', 'static');
        });

        $('#checkListItemModal').on('hidden.bs.modal', function (e) {
            $(".header-menu, .header, .header-upper").css('position', 'relative');
        });

    });
</script>
