﻿@model ShoppingListEditModel
@using Nop.Web.Models.Catalog
@using Nop.Web.Models.Customer
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    Html.AppendPageCssClassParts("html-account-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ShoppingList })
}

<style>
    .edit-shoppinglist-product {
        margin-top: 15px !important;
    }

    .cart td {
        padding: 5px !important;
        text-align: center;
    }

    .shopping-list-edit-page .common-buttons {
        margin: 0;
    }

    .account-page .table-wrapper {
        margin: 0;
    }

    .qtyInput {
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        border-radius: 5px !important;
    }
</style>

@using (Html.BeginForm("ShoppingListEdit", "Customer", FormMethod.Post, new { id = "shopping-list-edit-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.ShoppingListId)

    <div class="page account-page shopping-list-edit-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ShoppingList.Edit")</h1>
        </div>
        <div class="page-body">
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">
                    @validationSummary
                </div>
            }

            <div class="edit-shoppinglist-product">
                <div class="inputs">
                    @Html.LabelFor(model => model.Name, new { }, ":")
                    @Html.EditorFor(model => model.Name)
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="table-wrapper">
                <table class="cart">
                    <colgroup>
                        <col width="1" />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            @*<th class="remove-from-cart">
                                    @T("ShoppingCart.Remove")
                                </th>*@
                            <th class="product-picture">
                                @T("ShoppingList.List.Image")
                            </th>
                            <th class="product">
                                @T("ShoppingList.List.Product(s)")
                            </th>
                            <th class="unit-price">
                                @T("ShoppingList.List.UnitPrice")
                            </th>
                            <th class="quantity">
                                @T("ShoppingList.List.Quantity")
                            </th>
                            <th class="subtotal">
                                @T("ShoppingList.List.ItemTotal")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.shoppingListItems.Count; i++)
                        {
                            ProductOverviewModel productOverview = ((Nop.Web.Controllers.CustomerController)ViewContext.Controller).GetProductOverviewModel(Model.shoppingListItems[i].ProductId);
                            <tr id="product-table-row-@Model.shoppingListItems[i].ProductId">
                                @Html.HiddenFor(m => m.shoppingListItems[i].Id)
                                @Html.HiddenFor(m => m.shoppingListItems[i].ProductId)
                                <td class="tdProductId" style="display: none;">
                                    @Model.shoppingListItems[i].ProductId
                                    <input type="hidden" name="shoppingListItems.Index" value="@i" />
                                </td>
                                @*<td class="remove-from-cart">
                                        <input type='checkbox' name='Delete'>
                                    </td>*@
                                <td class="product-picture">
                                    <a href="/@productOverview.SeName">
                                        <img alt="@productOverview.DefaultPictureModel.AlternateText" src="@productOverview.DefaultPictureModel.ImageUrl" title="@productOverview.DefaultPictureModel.Title" />
                                    </a>
                                </td>
                                <td class="product">
                                    <a href="/@productOverview.SeName" class="product-name">@Model.shoppingListItems[i].Name</a>
                                    @if (Model.shoppingListItems[i].Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @foreach (var warning in Model.shoppingListItems[i].Warnings)
                                                {
                                                    <li>@warning</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td class="pprice unit-price">
                                    <span class="product-unit-price">@Model.shoppingListItems[i].PriceString</span>
                                </td>
                                <td class="quantity">
                                    @Html.TextBoxFor(model => model.shoppingListItems[i].Quantity, new { @class = "qtyInput" })
                                </td>
                                <td class="subtotal">
                                    <span class='spanSubTotal product-subtotal'>@Model.shoppingListItems[i].TotalString</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="cart-options">
                <div class="common-buttons">
                    @*<input type="button" name="updateshoppinglist" value="@T("Account.ShoppingList.UpdateShoppingList")" class="button-2 delete-row" />*@
                    <input type="button" onclick="frmSubmit();" class="button-1" value="@T("Common.Save")" />
                    <input type="button" onclick="window.location.href = '/customer/shoppinglist'" class="button-1" value="@T("Common.Cancel")" />
                </div>
            </div>
            @Html.Partial("_CategoryProductSelectTree", Model.Categories)
        </div>
    </div>
                }

<script type="text/javascript">
    var shoppingListItems = '@Model.shoppingListItems.Count';
    var currencySymbol = '@Model.CurrencySymbol';
    var addedProducts = '@Html.Raw(Json.Encode(Model.AddedProductIds))';
    var addedProductIds = JSON.parse(addedProducts);

    $(document).ready(function () {
        // Find and remove selected table rows
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="Delete"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });

        $(document.body).on('change', '.qtyInput', function (event) {
            var element = $(this);
            if (!$.isNumeric(element.val())) {
                element.val(1);
                var PPrice = element.parent().prev().attr('price');
                var Qty = element.val();
                element.parent().parent().find('.spanSubTotal')[0].innerHTML = currencySymbol + " " + (PPrice * Qty);
                return false;
            } else {
                var formattedPrice = element.parent().prev().attr('price');
                var price = formattedPrice.split(currencySymbol)[1];
                if (parseInt(element.val()) == 0 || parseInt(element.val()) < 0) {
                    element.val(1);
                    element.parent().parent().find('.spanSubTotal')[0].innerHTML = currencySymbol + " " + (price * 1);
                }
                else {
                    var qty = element.val();
                    element.parent().parent().find('.spanSubTotal')[0].innerHTML = currencySymbol + " " + price * qty;
                }
            }
        });
    });

    function frmSubmit() {
        var form = $("#shopping-list-edit-form");
        $(form).submit();
    }
</script>
