﻿@model ShoppingListModel
@using System.Web.UI.WebControls
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ShoppingList })
}

<style>
    .quantity {
        text-align: center !important;
    }
</style>

@using (Html.BeginForm("ShoppingList", "Customer", FormMethod.Post))
{
    <div class="page account-page shopping-list-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ShoppingList")</h1>
        </div>
        <div class="page-body">
            <div class="add-button">
                <input type="button" class="button-1 add-address-button"
                       onclick="location.href = '@Url.RouteUrl("CustomerShoppingListAdd")'" value="@T("Common.AddNew")" />
            </div>
            <div class="table-wrapper">
                <table class="cart">
                    <colgroup>
                        <col width="1" />
                        <col />
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="remove-from-cart">
                                @T("ShoppingCart.Remove")
                            </th>
                            <th class="product">
                                @T("ShoppingCart.Product(s)")
                            </th>
                            <th class="quantity">
                                @T("ShoppingList.List.NumberOfProducts")
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.shoppingList.Count; i++)
                        {
                            <tr>
                                @Html.HiddenFor(x => x.shoppingList[i].Id)
                                <td class="remove-from-cart">
                                    @Html.CheckBoxFor(x => x.shoppingList[i].Delete)
                                </td>
                                <td class="product">
                                    <span class="product-unit-price">@Model.shoppingList[i].Name</span>
                                </td>
                                <td class="quantity">
                                    <span class="product-unit-price">@Model.shoppingList[i].Quantity</span>
                                </td>
                                <td>
                                    <input type="button" class="button-2 addCart-shopping-list-button"
                                           onclick="location.href = '@Url.RouteUrl("ShoppingListCart", new {@Id = Model.shoppingList[i].Id})'"
                                           value="Add to Cart" />
                                    <input type="button" class="button-2 edit-shopping-list-button"
                                           onclick="location.href = '@Url.RouteUrl("ShoppingListEdit", new {@Id = Model.shoppingList[i].Id})'"
                                           value="Edit" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.shoppingList.Any())
            {
                <div class="cart-options">
                    <div class="common-buttons">
                        <input type="submit" name="updateshoppinglist"
                               value="@T("Account.ShoppingList.UpdateShoppingList")" class="button-2"/>
                    </div>
                </div>
            }
        </div>
    </div>
}