﻿@using Nop.Web.Models.Customer
@model Nop.Web.Models.Customer.ShoppingCheckListModelList

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ShoppingCheckList })
}

<style>
    .modal-backdrop {
        display: none;
    }

    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .btn-save-checklist {
        min-width: 140px;
        border: none;
        background-color: #4ab2f1;
        padding: 10px 30px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    .fieldset {
        margin: 0px !important;
    }

    .form-fields {
        padding: 15px 15px !important;
    }

    .inputs {
        margin: 0px !important;
    }
</style>

@using (Html.BeginForm("ShoppingCheckList", "Customer", FormMethod.Post))
{
    <div class="page account-page shopping-list-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ShoppingCheckList")</h1>
        </div>
        <div class="page-body">
            <div class="add-button">
                <button type="button" class="btn-lg button-1" data-toggle="modal" data-target="#checkListModal">@T("Common.AddNew")</button>
            </div>
            <div class="table-wrapper">
                <table class="cart">
                    @*<colgroup>
                            <col width="1" />
                            <col />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                        </colgroup>*@
                    <thead>
                    <tr>
                        <th class="remove-from-cart">
                            @T("ShoppingCheckList.Remove")
                        </th>
                        <th class="product">
                            @T("ShoppingCheckList.Name")
                        </th>
                        <th class="quantity">
                            @T("ShoppingCheckList.NumberOfItems")
                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.ShoppingCheckLists.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(x => x.ShoppingCheckLists[i].Id)
                            <td class="remove-from-cart">
                                @Html.CheckBoxFor(x => x.ShoppingCheckLists[i].Deleted)
                            </td>
                            <td class="product">
                                <span class="product-unit-price">@Model.ShoppingCheckLists[i].Name</span>
                            </td>
                            <td class="quantity">
                                <span class="product-unit-price">@Model.ShoppingCheckLists[i].NumberOfCheckListItems</span>
                            </td>
                            <td>
                                <input type="button" class="button-2 edit-shopping-list-button"
                                       onclick="location.href = '/customer/shoppingchecklistedit/@Model.ShoppingCheckLists[i].Id'" value="@T("Common.Edit")"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            @if (Model.ShoppingCheckLists.Any())
            {
                <div class="cart-options">
                    <div class="common-buttons">
                        <input type="submit" name="updateshoppinglist"
                               value="@T("Account.ShoppingCheckList.UpdateShoppingCheckList")" class="button-2" />
                    </div>
                </div>
            }
        </div>
    </div>
}

<div id="checkListModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="page-body">
                    @using (Html.BeginForm("AddShoppingCheckList", "Customer", FormMethod.Post))
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("ShoppingCheckList.CreateNewShoppingCheckList")</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label for="Name">@T("ShoppingCheckList.Fields.Name"):</label>
                                    <input class="text-box single-line valid" data-val="true" data-val-required="@T("ShoppingCheckList.Fields.Name.Required")" id="Name" name="Name" type="text" value="">
                                    <span class="required">*</span>
                                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="add-button" style="text-align: center">
                            <input type="submit" value="@T("Common.Save")" name="save-info-button" class="btn-save-checklist">
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@T("Common.Close")</button>
            </div>
        </div>
    </div>
</div>

<script>
    var message = '@ViewBag.Message';

    if (message !== '') {
        displayBarNotification(message, 'success', 3500);
    }

    $(document).ready(function () {

        $('#checkListModal').on('show.bs.modal', function (e) {
            $(".header-menu, .header, .header-upper").css('position', 'static');
        });

        $('#checkListModal').on('hidden.bs.modal', function (e) {
            $(".header-menu, .header, .header-upper").css('position', 'relative');
        });

    });
</script>