﻿@model ShoppingListAddModel
@using Nop.Web.Models.Customer
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    Html.AppendPageCssClassParts("html-account-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ShoppingList })
}

<style>
    .edit-shoppinglist-product {
        margin-top: 15px !important;
    }

    .cart td {
        padding: 5px !important;
    }

    .shopping-list-edit-page .common-buttons {
        margin: 0;
    }

    .account-page .table-wrapper {
        margin: 0;
    }

    .qtyInput {
        height: 30px !important;
        width: 45px !important;
        margin: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        border-radius: 5px !important;
    }

    @@media (min-width: 1001px) {
        .inputs {
            text-align: center !important;
        }
    }

    @@media (min-width: 1367px) {
    .center-2 .inputs label {
            width: 90px !important;
        }
    }
    
</style>

@using (Html.BeginForm("ShoppingListAdd", "Customer", FormMethod.Post, new { id = "shoppingListAddForm" }))
{
    @Html.AntiForgeryToken()
    <div class="page account-page shopping-list-edit-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ShoppingList.AddNew")</h1>
        </div>
        <div class="page-body">
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">
                    @validationSummary
                </div>
            }

            <div class="edit-shoppinglist-product">
                <div class="inputs">
                    @Html.LabelFor(model => model.Name, new { }, ":")
                    @Html.EditorFor(model => model.Name)
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                @*<div class="inputs">
                        @Html.LabelFor(model => model.ProductName, new { }, ":")
                        <input type="text" id="search-product-name" autocomplete="off" />
                        <span id="search-product-friendly-name"></span>
                        <button type="button" id="search-product-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>

                        @Html.TextBoxFor(model => model.ProductId, new { autocomplete = "off", style = "display:none;" })
                        @Html.ValidationMessageFor(model => model.ProductId)
                        <script type="text/javascript">
                            $(document)
                                .ready(function () {
                                    if ('@Model.ProductName' !== '') {
                                        $('#search-product-friendly-name').text('@Model.ProductName');
                                        $('#search-product-clear').show();
                                    }
                                    $('#search-product-name')
                                        .autocomplete({
                                            delay: 500,
                                            minLength: 2,
                                            source: '@(Url.Action("ProductSearchAutoComplete", "Customer"))',
                                            select: function (event, ui) {
                                                $('#@Html.FieldIdFor(model => model.ProductId)').val(ui.item.productid);
                                                var markup = "<tr><td class='tdProductId' style='display:none;'>" + ui.item.productid + "</td><td class='remove-from-cart'><input type='checkbox' name='cboxProduct'></td><td>" + ui.item.label +
                                                    "</td><td class='pprice'>" + ui.item.price +
                                                    "</td><td class='quantity'><input type='text' value='1' class='qtyInput'/></td>" +
                                                    "<td> <span class='spanSubTotal'>" + ui.item.price + "</span></td></tr>";
                                                $("table tbody").append(markup);
                                                return false;
                                            }
                                        });

                                    //remove button
                                    $('#search-product-clear')
                                        .click(function () {
                                            $('#@Html.FieldIdFor(model => model.ProductId)').val('0');
                                            $('#search-product-friendly-name').text('');
                                            $('#search-product-clear').hide();
                                            return false;
                                        });
                                });
                        </script>
                    </div>*@
            </div>

            <div class="table-wrapper">
                <table class="cart">
                    <colgroup>
                        <col width="1" />
                        <col />
                        <col width="2" />
                        <col width="1" />
                        <col width="2" />
                    </colgroup>
                    <thead>
                        <tr>
                            @*<th class="remove-from-cart">
                                    @T("ShoppingCart.Remove")
                                </th>*@
                            <th class="product-picture">
                                @T("ShoppingList.List.Image")
                            </th>
                            <th class="product">
                                @T("ShoppingList.List.Product(s)")
                            </th>
                            <th class="unit-price">
                                @T("ShoppingList.List.UnitPrice")
                            </th>
                            <th class="quantity">
                                @T("ShoppingList.List.Quantity")
                            </th>
                            <th class="subtotal">
                                @T("ShoppingList.List.ItemTotal")
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="cart-options">
                <div class="common-buttons">
                    @*<input type="button" name="updateshoppinglist" value="@T("Account.ShoppingList.UpdateShoppingList")" class="button-2 delete-row" />*@
                    <input type="button" onclick="frmSubmit();" class="button-1" value="@T("Common.Save")" />
                    <input type="button" onclick="window.location.href = '/customer/shoppinglist'" class="button-1" value="@T("Common.Cancel")" />
                </div>
            </div>

            @Html.Partial("_CategoryProductSelectTree", Model.Categories)

        </div>
    </div>
                }

<script type="text/javascript">
    var shoppingListItems = '@Model.shoppingListItems.Count';
    var currencySymbol = '@Model.CurrencySymbol';
    var addedProducts = '@Html.Raw(Json.Encode(Model.AddedProductIds))';
    var addedProductIds = JSON.parse(addedProducts);

    $(document).ready(function () {
        // Find and remove selected table rows
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="cboxProduct"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });

        $(document.body).on('change', '.qtyInput', function (event) {
            var element = $(this);
            if (!$.isNumeric(element.val())) {
                element.val(1);
                var PPrice = element.parent().prev().attr('price');
                var Qty = element.val();
                element.parent().parent().find('.spanSubTotal')[0].innerHTML = currencySymbol + ". " + (PPrice * Qty);
                return false;
            } else {
                var formattedPrice = element.parent().prev().attr('price');
                var price = formattedPrice.split(currencySymbol)[1];
                if (parseInt(element.val()) == 0 || parseInt(element.val()) < 0) {
                    element.val(1);
                    element.parent().parent().find('.spanSubTotal')[0].innerHTML = currencySymbol + ". " + (price * 1);
                }
                else {
                    var qty = element.val();
                    element.parent().parent().find('.spanSubTotal')[0].innerHTML = currencySymbol + ". " + price * qty;
                }
            }
        });
    });

    function frmSubmit() {
        var qtd = 0;
        var form = $("form")[1];
        //if ($(".cart tbody").html()) {
        $(".cart > tbody > tr")
            .each(function () {
                var productId = $(this).children()[0].innerHTML;
                var qty = $(this).children().find('.qtyInput').val();
                $(form)
                    .append("<input type='hidden' name='shoppingListItems[" +
                        qtd +
                        "].ProductId' value='" +
                        productId +
                        "'>");
                $(form)
                    .append("<input type='hidden'  name='shoppingListItems[" +
                        qtd +
                        "].Quantity' value='" +
                        qty +
                        "'>");
                qtd += 1;
            });
        $(form).submit();
        //} else {
        //    alert("You have to add atleast one item.");
        //}

    }
</script>