﻿@using Nop.Admin.Models.CompetitorProducts;
@model List<CompetitorProductModel>

@{
    int productId = 0;
    if (Model.Any())
    {
        productId = Model.FirstOrDefault().ProductId;
    }

}

<style>
    .flyout {
        position: absolute;
        width: 35%;
        height: 50%;
        background: white;
        overflow: hidden;
        z-index: 10000;
        display: none;
        border: cadetblue solid 1px;
    }

    /*#menu:hover + .flyout {
        display: block;
    }*/

    .tooltip_templates {
        display: none;
    }
</style>

@if (Model.Any())
{
    <div style="font-size: 30px; display: inline;">
        <img class="tooltip" aria-hidden="true" data-tooltip-content="@("#tooltip_content" + productId)" src="~/Content/Images/compare.png" style="height: 30px; width: 30px; cursor: pointer" />
        @*<a href="#">
            <img class="tooltip" aria-hidden="true" data-tooltip-content="@("#tooltip_content" + productId)" src="~/Content/Images/compare.png" style="height: 30px; width: 30px" />
            <!--<i class="fa fa-info-circle tooltip" aria-hidden="true" data-tooltip-content="@("#tooltip_content" + productId)">&nbsp;</i>-->
        </a>*@
    </div>
    
    <div class="tooltip_templates">
        <div id="@("tooltip_content" + productId)" class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Competitor Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.CompetitorName</td>
                            <td>
                                <span itemprop="price">@product.PriceString</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div style="height: 30px; width: 30px; font-size: 30px; display: inline;">
    </div>
}

<script>
    $(document).ready(function () {
        $('.tooltip').tooltipster({
            side: 'bottom',
            theme: 'tooltipster-shadow'
        });
    });
</script>