﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div class="title">
            <strong>@T("HomePage.Products")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}

<script>
    function add_product_to_cart(link, productId) {
        var url = link + "/" + $(".quantity-" + productId).val();
        AjaxCart.addproducttocart_catalog(url);
        return false;
    }
</script>