﻿@using Nop.Web.Models.Catalog
@model List<CategorySimpleModel>

@{
    int level = 0;
}

<style>
    .tree {
        min-height: 20px;
        margin-bottom: 20px;
        background-color: #fbfbfb;
        border: 1px solid #999;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }

        .tree li {
            list-style-type: none;
            margin: 0;
            padding: 10px 0 0 10px;
            position: relative;
        }

            .tree li::before, .tree li::after {
                content: '';
                left: -20px;
                position: absolute;
                right: auto;
            }

            .tree li::before {
                /*border-left: 1px solid #999;*/
                bottom: 50px;
                height: 100%;
                top: 0;
                width: 1px;
            }

            .tree li::after {
                /*border-top: 1px solid #999;*/
                height: 20px;
                top: 25px;
                width: 25px;
            }

            .tree li span {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border: 1px solid #999;
                border-radius: 5px;
                display: inline-block;
                padding: 3px 8px;
                text-decoration: none;
            }

            .tree li.parent_li > span {
                cursor: pointer;
            }

        .tree > ul > li::before, .tree > ul > li::after {
            border: 0;
        }

        .tree li:last-child::before {
            height: 30px;
        }

        .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
            background: #eee;
            border: 1px solid #94a0b4;
            color: #000;
        }

    @@media (min-width: 1001px) {
        /*.inputs {
            margin: 10px 0 10px !important;
        }*/

        .inputs input[type="text"] {
            width: 280px !important;
        }
    }

    .account-page .button-1 {
        min-width: 122px !important;
    }

    @@media (min-width: 1001px) {
        .inputs input[type="text"] {
            min-height: 37px;
        }
    }
</style>
<link href="~/Content/fontAwesome/css/font-awesome-4.6.3.min.css" rel="stylesheet"/>
<!-- bootstrap dialog for confirmation -->
<link href="~/Content/bootstrap-dialog/bootstrap-dialog.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-dialog/bootstrap-dialog.min.js"></script>

<div class="inputs">
    <input type="button" id="search-category-product" class="button-1 pull-right" value="Search">
    <input type="text" id="search-keyword" class="pull-right" placeholder="Search" />
</div>
<div class="page-body">
    <div class="tree well">
        <ul class="grand-parent">
            @foreach (var category in Model.ToList())
            {
                @RenderCategoryTree(category, level++, false)
            }
        </ul>
        <div style="margin: 10px 0px 10px 10px">
            <span><span id="search-result-count">0</span> item(s) found.</span>
        </div>
    </div>
</div>

@helper RenderCategoryTree(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        <span id="category-@category.Id">
            @if (category.SubCategories.Any() || category.ProductsInCategory.Any())
            {
                <i class="fa fa-minus-circle"></i>
            }
            <a href="">
                @category.Name
                @if (category.NumberOfProducts.HasValue && category.NumberOfProducts.Value > 0)
                {
                    <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)



                }
            </a>
        </span>
        @if (category.ProductsInCategory.Any())
        {
            <ul>
                @foreach (var product in category.ProductsInCategory)
                {
                    <li>
                        <label>
                            <input type="checkbox" id="product-@product.Id" class="product-checkbox" />
                            @product.Name - @product.ProductPrice.Price
                        </label>
                        <input type="hidden" id="product-sename-@product.Id" value="@product.SeName" />
                        <input type="hidden" id="product-minquantity-@product.Id" value="@product.OrderMinimumQuantity" />
                        <img id="product-image-@product.Id" style="display: none" alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
                    </li>
                }
            </ul>
        }
        @{
            //subcategories
            var subCategories = responsiveMobileMenu ?
                //responsive (all categories)
                category.SubCategories :
                //standard design (only categories with "IncludeInTopMenu")
                category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();

            var levelClass = "";
            switch (level)
            {
                case 0:
                    levelClass = "first-level";
                    break;
                case 1:
                    levelClass = "second-level";
                    break;
                case 2:
                    levelClass = "third-level";
                    break;
            }
            if (subCategories.Count > 0)
            {
                <ul class="sublist @levelClass">
                    @foreach (var subCategory in subCategories)
                    {
                        @RenderCategoryTree(subCategory, level + 1, responsiveMobileMenu)
                    }
                </ul>
            }
        }
    </li>
}

<script>
    var selectedIds = [];
    var openedBySearchSpanIds = [];
    var searchResultProductIds = [];
    var searchResultCategoryIds = [];
    var keywordSearched = '';

    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this category');

        $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this category').find(' > i').addClass('fa-plus-circle').removeClass('fa-minus-circle');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this category').find(' > i').addClass('fa-minus-circle').removeClass('fa-plus-circle');
            }
            e.stopPropagation();
        });

        // do nothing on clicking <a></a> in tree
        $('.tree li > span > a').on('click', function (e) {
            e.preventDefault();
        });

        // collapse all parent categories
        $.each($('.tree li.parent_li > span'), function () {
            $(this).trigger('click');
        });

        $('.product-checkbox').on('change', function () {
            var control = this;
            var productId = parseInt(this.id.split('-')[1]);
            var product = $(this).parent().text().trim();
            var productName = trimChar(product.split(currencySymbol)[0].trim(), "-").trim();
            var productPriceFormatted = currencySymbol + " " + product.split(currencySymbol)[1].trim();
            var picture = $("#product-image-" + productId);
            var minQuantity = $("#product-minquantity-" + productId).val();

            if (this.checked) {
                selectedIds.push(productId);
                var sequenceNo = $("table tr").length - 1;
                var sequenceHtml = "<input type='hidden' name='shoppingListItems.Index' value='" + sequenceNo + "' />";
                var productIdHtml = "<input type='hidden' name='shoppingListItems[" + sequenceNo + "].ProductId' value='" + productId + "' />";
                var pictureHtml = '<img alt="' + picture.attr('alt') + '" src="' + picture.attr('src') + '" title="' + picture.attr('title') + '">';
                var productSeName = $("#product-sename-" + productId).val();
                var productNameHtml = "<a href=\"/" + productSeName + "\" class=\"product-name\">" + productName + "</a>";
                var productQuantityHtml = "<input type='text' name='shoppingListItems[" + sequenceNo + "].Quantity' value='" +
                    minQuantity + "' class='qtyInput'/>";


                var markup = "<tr id='product-table-row-" + productId + "'> " + sequenceHtml +
                    "<td class='tdProductId' style='display:none;'> " + productIdHtml + "</td>" +
                    //"<td class='remove-from-cart'><input type='checkbox' name='cboxProduct'></td>" +
                    "<td class=\"product-picture\">" + pictureHtml + "</td>" +
                    "<td class=\"product\">" + productNameHtml + "</td>" +
                    "<td class='pprice' price='" + productPriceFormatted + "'>" + productPriceFormatted +
                    "</td><td class='quantity'>" + productQuantityHtml + "</td>" +
                    "<td> <span class='spanSubTotal'>" + productPriceFormatted + "</span></td>" +
                "</tr>";
                $("table tbody").append(markup);
                //$("#shoppingListAddForm").append("<input type='hidden' name='shoppingListItems[" + sequenceNo + "].ProductId' value='" + productId + "'>");
            } else {
                BootstrapDialog.confirm({
                    title: 'Confirmation!',
                    message: 'Do you really want to remove this item from your shopping list?',
                    type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                    btnCancelLabel: 'No', // <-- Default value is 'Cancel',
                    btnCancelClass: 'btn-default',
                    btnOKLabel: 'Yes', // <-- Default value is 'OK',
                    btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
                    callback: function (result) {
                        // result will be true if button was click, while it will be false if users close the dialog directly.
                        if (result) {
                            var index = selectedIds.indexOf(productId);
                            if (index > -1) {
                                selectedIds.splice(index, 1);
                            }
                            $("#product-table-row-" + productId).remove();
                        } else {
                            $(control).prop('checked', true);
                            return true;
                        }
                    }
                });
            }
        });

        $("#search-keyword").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search-category-product").trigger('click');
            }
        });

        $("#search-category-product").on('click', function () {
            var keyword = $("#search-keyword").val();
            if (keyword !== keywordSearched) {

                keywordSearched = keyword;
                // clear highlighted results of previous search
                $.each(searchResultProductIds, function (index, value) {
                    var element = $("#product-" + value);
                    element.parent().css('border', 'none');
                });
                $.each(searchResultCategoryIds, function (index, value) {
                    var element = $("#category-" + value);
                    element.css('border', '1px solid #999');
                });
                // close previously opened spans
                $.each(openedBySearchSpanIds, function (index, value) {
                    var element = $("#" + value);
                    element.trigger('click');
                    element.removeClass('visited');
                });

                // get new search results

                if (keyword !== undefined && keyword !== "" && keyword !== null) {

                    $.ajax({
                        url: "/Customer/GetSearchResultForCheckList",
                        method: "GET",
                        data: { keyword: keyword },
                        contentType: "application/json",
                        success: function (result) {
                            if (result.successfull) {
                                searchResultProductIds = result.productIds;
                                searchResultCategoryIds = result.categoryIds;
                                openedBySearchSpanIds = [];

                                // display number of search results
                                $("#search-result-count").text(result.productIds.length + result.categoryIds.length);

                                $.each(result.categoryIds, function (index, value) {
                                    var element = $("#category-" + value);
                                    element.css('border', 'solid 2px green');
                                    setTimeout(function () {
                                        openAllTillGrandParent(element);
                                    }, 200);
                                });

                                $.each(result.productIds, function (index, value) {
                                    var element = $("#product-" + value);
                                    element.parent().css('border', 'solid 2px green');
                                    setTimeout(function () {
                                        openAllTillGrandParent(element);
                                    }, 200);
                                });
                            }
                        },
                        error: function () {
                            console.log('An error has occurred while connecting server.');
                        }
                    });
                }
            }
        });

        if (addedProductIds.length > 0) {
            selectedIds = addedProductIds;
            $.each(addedProductIds, function (index, value) {
                $("#product-" + value).prop('checked', true);
            });
        }
    });

    function openAllTillGrandParent(element) {
        while (element.attr('class') !== "grand-parent") {
            // select parent() element untill ul
            while (element.is("ul") === false) {
                element = element.parent();
            }
            // prev() of il is <span> that needed to be opened
            if (element.prev().is("span") === true) {
                if ((element.prev().attr('class') != undefined &&
                    element.prev().attr('class').indexOf('visited') < 0) ||
                    element.prev().attr('class') === undefined) {

                    element.prev().trigger('click');
                    openedBySearchSpanIds.push(element.prev().attr('id'));
                    element.prev().addClass('visited');
                }
            }
            // if current element is not ul then set element equal to parent()
            if (element.attr('class') !== "grand-parent") {
                element = element.parent();
            }
        }
    }

    function trimChar(string, charToRemove) {
        while (string.charAt(0) == charToRemove) {
            string = string.substring(1);
        }

        while (string.charAt(string.length - 1) == charToRemove) {
            string = string.substring(0, string.length - 1);
        }

        return string;
    }
</script>