﻿@model AddressModel
@using Nop.Web.Models.Common;

<style>
    .modal-backdrop {
        display: none;
    }

    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .hidden {
        display: none;
    }
</style>

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
@Html.HiddenFor(model => model.Id)
<div class="edit-address">
    <div class="inputs">
        @Html.LabelFor(model => model.FirstName, new { }, ":")
        @Html.EditorFor(model => model.FirstName)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.LastName, new { }, ":")
        @Html.EditorFor(model => model.LastName)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.LastName)

    </div>
    <div class="inputs">
        @Html.LabelFor(model => model.Email, new { }, ":")
        @Html.EditorFor(model => model.Email)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    @if (Model.CompanyEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Company, new { }, ":")
            @Html.EditorFor(model => model.Company)
            @if (Model.CompanyRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.CountryId, new { }, ":")
            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(model => model.StateProvinceId)
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.City, new { }, ":")
            @Html.EditorFor(model => model.City)

            @if (Model.CityRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.City)
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address1, new { }, ":")
            @Html.EditorFor(model => model.Address1)
            @if (Model.StreetAddressRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Address1)
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address2, new { }, ":")
            @Html.EditorFor(model => model.Address2)
            @if (Model.StreetAddress2Required)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
            @Html.EditorFor(model => model.ZipPostalCode)
            @if (Model.ZipPostalCodeRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.PhoneNumber, new { }, ":")
            @Html.EditorFor(model => model.PhoneNumber)
            @if (Model.PhoneRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.FaxNumber, new { }, ":")
            @Html.EditorFor(model => model.FaxNumber)
            @if (Model.FaxRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.FaxNumber)
        </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }

    <div class="inputs">
        @Html.HiddenFor(model => model.Latitude)
        @Html.HiddenFor(model => model.Longitude)
        <label>@T("Account.GeoLocation"): </label>
        <button id="btnShowMap" type="button" class="btn" data-toggle="modal" data-target="#mapModal">@T("Address.Button.OpenMap")</button>
        <button type="button" id="clearMap" class="btn hidden">@T("Address.Button.ClearSelection")</button>

    </div>
</div>

<div id="mapModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@T("Address.Map.Header")</h4>
            </div>
            <div class="modal-body">
                <div id="map_canvas_product" class="" style="width: 100%; Height: 500px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@T("Common.Close")</button>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/toaster/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toaster/toastr.js"></script>

<section class="map" id="google_map">

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIe9l7gj_B8-VTfK9hoEGYjvPCpbnTN0s&libraries=geometry,places">
    </script>
    <script>
        var markers = [];
        var latLng;
        var mapCompanyMap;

        function initializeCompanyMap() {
            var myOptions = {
                zoom: 14,
                center: latLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE
                }
            };
            mapCompanyMap = new google.maps.Map(document.getElementById("map_canvas_product"), myOptions);

            if (markers.length === 0) {
                addMarker(latLng);
            }

            mapCompanyMap.addListener('click', function (event) {
                addMarker(event.latLng);
            });
            // Create the DIV to hold the control and call the CenterControl()
            // constructor passing in this DIV.
            var centerControlDiv = document.createElement('div');
            var centerControl = new CenterControl(centerControlDiv, mapCompanyMap);

            centerControlDiv.index = 1;
            mapCompanyMap.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
        }

        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            if (markers.length === 0) {
                var marker = new google.maps.Marker({
                    position: location,
                    map: mapCompanyMap
                });
                markers.push(marker);
                latLng = location;
            } else {
                alert("You can add only one marker.");
            }
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            setMapOnAll(mapCompanyMap);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

        function CenterControl(controlDiv, mapCompanyMap) {

            // Set CSS for the control border.
            var controlUI = document.createElement('div');
            controlUI.style.backgroundColor = '#fff';
            controlUI.style.border = '2px solid #fff';
            controlUI.style.borderRadius = '3px';
            controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
            controlUI.style.cursor = 'pointer';
            controlUI.style.marginBottom = '22px';
            controlUI.style.textAlign = 'center';
            controlUI.title = 'Click to remove the marker';
            controlDiv.appendChild(controlUI);

            // Set CSS for the control interior.
            var controlText = document.createElement('div');
            controlText.style.color = 'rgb(25,25,25)';
            controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
            controlText.style.fontSize = '16px';
            controlText.style.lineHeight = '38px';
            controlText.style.paddingLeft = '5px';
            controlText.style.paddingRight = '5px';
            controlText.innerHTML = 'Remove Marker';
            controlUI.appendChild(controlText);

            // Setup the click event listeners: simply set the map to Chicago.
            controlUI.addEventListener('click', function () {
                deleteMarkers();
            });

        }

        $(document).ready(function () {
            // get current location
            navigator.geolocation.getCurrentPosition(function (p) {
                latLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
            });

            $('#mapModal').on('show.bs.modal', function (e) {
                setTimeout(initializeCompanyMap, 200);
            });

            $('#mapModal').on('hidden.bs.modal', function (e) {
                if (latLng != undefined) {
                    //$("#span-latitude").text("Latitude: " + latLng.lat());
                    //$("#span-longitude").text("Longitude: " + latLng.lng());
                    ShowToastr('success', '', 'Your selection has been saved. In order to select again, first clear selection and then select.');
                    $("#BillingNewAddress_Latitude").val(latLng.lat());
                    $("#BillingNewAddress_Longitude").val(latLng.lng());

                    $("#btnShowMap").addClass("hidden");
                    $("#clearMap").removeClass("hidden");

                    deleteMarkers();
                }
            });

            $("#clearMap").on('click', function () {
                $("#clearMap").addClass("hidden");
                $("#btnShowMap").removeClass("hidden");

                $("#BillingNewAddress_Latitude").val(null);
                $("#BillingNewAddress_Longitude").val(null);

                deleteMarkers();
            });

        });

        function ShowToastr(type, title, message) {
            // _____Usage_____ //
            // ShowToastr('success', 'Success', 'Save successfully');
            // ShowToastr('info', 'Info', 'You should specify all required values');
            // ShowToastr('warning', 'Warning', 'I do not think that means what you think it means.');
            // ShowToastr('error', 'Error', 'Some Error occured');
            // _____Usage_____ //

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            if (type === "success") {
                toastr.success(message, title);
            }
            if (type === "info") {
                toastr.info(message, title);
            }
            if (type === "warning") {
                toastr.warning(message, title);
            }
            if (type === "error") {
                toastr.error(message, title);
            }
        }

    </script>
</section>
