﻿@* popup-usage
    <div>
        <button type="button" class="button-2" data-toggle="modal" data-target="#product-competitor-price">Competitor Price</button>
    </div>*@

<div class="modal fade" id="product-competitor-price" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none; z-index: 6;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header orange-modal-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h2 class="modal-title">Competitor Price</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <table>
                        <thead>
                            <tr>
                                <th>Competitor Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td>@product.CompetitorName</td>
                                    <td>@product.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>