﻿@using Nop.Admin.Models.CompetitorProducts
@model CompetitorProductModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('competitor-product-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @Html.Action("Mode", "Setting", new { modeName = "competitor-product-advanced-mode" })
                </div>
            </div>
        </div>
        <div id="competitor-product-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.CompetitorProducts.Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "competitor-product-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)").click(togglePageSize);
            togglePageSize();
        });

        function togglePageSize() {
            if ($('#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)').is(':checked')) {
                $('#pnlPageSize').hide();
                $('#pnlPageSizeOptions').show();
            } else {
                $('#pnlPageSize').show();
                $('#pnlPageSizeOptions').hide();
            }
        }
    </script>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CompetitorId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.CompetitorId, Model.AvailableCompetitors, required: true)
                        @Html.ValidationMessageFor(model => model.CompetitorId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ProductId)
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="search-product-name" autocomplete="off" class="form-control inline" />
                        <span id="search-product-friendly-name"></span>
                        <button type="button" id="search-product-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>

                        @Html.TextBoxFor(model => model.ProductId, new { autocomplete = "off", style = "display:none;" })
                        @Html.ValidationMessageFor(model => model.ProductId)
                        <script type="text/javascript">
                            $(document)
                                .ready(function () {
                                    if ('@Model.ProductName' !== '') {
                                        $('#search-product-friendly-name').text('@Model.ProductName');
                                        $('#search-product-clear').show();
                                    }
                                    $('#search-product-name')
                                        .autocomplete({
                                            delay: 500,
                                            minLength: 2,
                                            source: '@(Url.Action("ProductSearchAutoComplete", "Order"))',
                                            select: function (event, ui) {
                                                $('#@Html.FieldIdFor(model => model.ProductId)').val(ui.item.productid);
                                                $('#search-product-friendly-name').text(ui.item.label);

                                                $('#search-product-clear').show();
                                                return false;
                                            }
                                        });

                                    //remove button
                                    $('#search-product-clear')
                                        .click(function () {
                                            $('#@Html.FieldIdFor(model => model.ProductId)').val('0');
                                            $('#search-product-friendly-name').text('');
                                            $('#search-product-clear').hide();
                                            return false;
                                        });
                                });
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Price)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Price, required: true)
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Active)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                <div class="form-group advanced-setting">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AllowCustomersToSelectPageSize)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.AllowCustomersToSelectPageSize)
                        @Html.ValidationMessageFor(model => model.AllowCustomersToSelectPageSize)
                    </div>
                </div>
                <div class="form-group advanced-setting" id="pnlPageSize">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PageSize)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.PageSize)
                        @Html.ValidationMessageFor(model => model.PageSize)
                    </div>
                </div>
                <div class="form-group advanced-setting" id="pnlPageSizeOptions">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PageSizeOptions)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.PageSizeOptions)
                        @Html.ValidationMessageFor(model => model.PageSizeOptions)
                    </div>
                </div>
                <div class="form-group advanced-setting">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.DisplayOrder)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.DisplayOrder)
                        @Html.ValidationMessageFor(model => model.DisplayOrder)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
