﻿@model Nop.Admin.Models.CompetitorProducts.CompetitorProductListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.CompetitorProducts").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Competitors products");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.CompetitorProducts")
    </h1>
    <div class="pull-right">
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            @T("Admin.Common.Import")
        </button>
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.CompetitorName)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.CompetitorName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.ProductName)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.ProductName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-competitor-products" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="competitor-products-grid"></div>

                    <script>
                        $(document)
                            .ready(function() {
                                $("#competitor-products-grid")
                                    .kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("List", "CompetitorProduct"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function(e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)],
                                            @Html.Partial("_GridPagerMessages")
                                        },
                                        editable: {
                                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                            mode: "inline"
                                        },
                                        scrollable: false,
                                        columns: [
                                            {
                                                field: "CompetitorName",
                                                title: "@T("Admin.CompetitorProducts.List.CompetitorName")",
                                                width: 300
                                            }, {
                                                field: "ProductName",
                                                title: "@T("Admin.CompetitorProducts.List.ProductName")",
                                                width: 300
                                            }, {
                                                field: "ProductSku",
                                                title: "@T("Admin.CompetitorProducts.List.Sku")",
                                                width: 300
                                            }, {
                                                field: "Price",
                                                title: "@T("Admin.CompetitorProducts.Fields.Price")",
                                                width: 300
                                            }, {
                                                field: "Active",
                                                title: "@T("Admin.Competitors.Fields.Active")",
                                                width: 100,
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                template:
                                                    '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                            }, {
                                                field: "Id",
                                                title: "@T("Admin.Common.Edit")",
                                                width: 100,
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                template:
                                                    '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                            }
                                        ]
                                    });
                            });
                    </script>
                    <script type="text/javascript">
                        $(document)
                            .ready(function() {
                                //search button
                                $('#search-competitor-products')
                                    .click(function() {
                                        //search
                                        var grid = $('#competitor-products-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        return false;
                                    });

                                $("#@Html.FieldIdFor(model => model.CompetitorName)")
                                    .keydown(function(event) {
                                        if (event.keyCode == 13) {
                                            $("#search-competitor-products").click();
                                            return false;
                                        }
                                    });
                                $("#@Html.FieldIdFor(model => model.ProductName)")
                                    .keydown(function(event) {
                                        if (event.keyCode == 13) {
                                            $("#search-competitor-products").click();
                                            return false;
                                        }
                                    });
                            });

                        function additionalData() {
                            var data = {
                                CompetitorName: $('#@Html.FieldIdFor(model => model.CompetitorName)').val(),
                                ProductName: $('#@Html.FieldIdFor(model => model.ProductName)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            @using (Html.BeginForm("ImportExcel", "CompetitorProduct", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <div class="form-horizontal">
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Catalog.CompetitorProducts.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
