﻿@using Nop.Admin.Models.WorkShifts;
@model WorkShiftModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<link href="~/Administration/Content/timepicker/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Administration/Scripts/timepicker/jquery.timepicker.js"></script>

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('workshift-edit');
        $('.timepicker')
            .timepicker({
                'timeFormat': 'h:i A',
                'step': function (i) {
                    return (i % 2) ? 15 : 15;
                }
            });
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @Html.Action("Mode", "Setting", new { modeName = "workshift-advanced-mode" })
                </div>
            </div>
        </div>
        <div id="workshift-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.WorkShifts.Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "workshift-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Name)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Name, required: true)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.StartTime)
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            @Html.TextBoxFor(model => model.StartTimeStr, new { @class = "form-control text-box single-line timepicker" })
                            <div class="input-group-btn"><span class="required">*</span></div>
                            @Html.ValidationMessageFor(model => model.StartTime)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.EndTime)
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            @Html.TextBoxFor(model => model.EndTimeStr, new { @class = "form-control text-box single-line timepicker" })
                            <div class="input-group-btn"><span class="required">*</span></div>
                            @Html.ValidationMessageFor(model => model.EndTime)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.StoreId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.StoreId, Model.AvailableStores, required: true)
                        @Html.ValidationMessageFor(model => model.StoreId)
                    </div>
                </div>
                <div class="form-group advanced-setting">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Published)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.Published)
                        @Html.ValidationMessageFor(model => model.Published)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
