﻿@model Nop.Admin.Models.WorkShifts.WorkShiftModel

@{
    //page title
    ViewBag.Title = T("Admin.WorkShifts.EditWorkShiftDetails").Text;
    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("Competitors list");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.WorkShifts.EditWorkShiftDetails") - @Model.Name
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.WorkShifts.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @*<span id="work-shift-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>*@
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@*@Html.DeleteConfirmation("work-shift-delete")*@