﻿@model System.Collections.Generic.List<Nop.Admin.Models.PurchaseOrders.PurchaseOrderItemModel>

@{
    //page title
    ViewBag.Title = T("Admin.PurchaseOrders.Detail").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Purchase orders");
}

@using (Html.BeginForm("GeneratePurchaseOrder", "PurchaseOrder"))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PurchaseOrders.Detail")
            <small><i class="fa fa-arrow-circle-left"></i>
            @if (ViewBag.PurchaseOrderId != null)
            {
                @Html.ActionLink(T("Admin.PurchaseOrders.BackToPurchaseOrders").Text, "List")
            }
            else
            {
                @Html.ActionLink(T("Admin.PurchaseOrders.BackToPendingOrders").Text, "PendingOrders")
            }
            </small>
        </h1>
        <div class="pull-right">
            @if (ViewBag.PurchaseOrderId != null)
            {
                <button type="button" id="btnPrint" name="save" class="btn bg-blue">
                    <i class="fa fa-print"></i>
                    @T("Admin.Common.Print")
                </button>
            }
            else if(Model.Any())
            {
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.PurchaseOrders.GeneratePurchaseOrder")
                </button>
            }
            
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>@T("Admin.PendingOrders.List.ProductSku")</th>
                    <th>@T("Admin.PendingOrders.List.ProductName")</th>
                    <th>@T("Admin.PendingOrders.List.ProductQuantity")Product Quantity</th>
                    <th>@T("Admin.PendingOrders.List.ProductVendor")Vendor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderItem in Model)
                {
                    <tr>
                        <td>@orderItem.ProductSku</td>
                        <td>@orderItem.ProductName</td>
                        <td>@orderItem.ProductQuantity</td>
                        <td>@orderItem.VendorName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    $(document).ready(function() {
        $("#btnPrint").on('click', function() {
            window.print();
        });
    });
</script>