﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.PurchaseOrders").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Purchase orders");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.PurchaseOrders")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*<div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.FilterDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FilterDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ProductName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ProductName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-purchase-order" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="purchase-order-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#purchase-order-grid")
                                .kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "PurchaseOrder"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)],
                                        @Html.Partial("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [
                                        {
                                            field: "CreatedOnUtc",
                                            title: "@T("Admin.PurchaseOrders.Fields.Date")",
                                            width: 300,
                                            template: "#= kendo.toString(kendo.parseDate(CreatedOnUtc, 'yyyy-MM-dd'), 'dd/MM/yyyy HH:mm') #"
                                        }, {
                                            field: "Description",
                                            title: "@T("Admin.PurchaseOrders.Fields.Description")",
                                            width: 300
                                        }, {
                                            field: "TotalQuantity",
                                            title: "@T("Admin.PurchaseOrders.Fields.TotalQuantity")",
                                            width: 300
                                        }, {
                                            field: "Id",
                                            title: "@T("Admin.Common.Actions")",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Detail/#=Id#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>' +
                                                '<a class="btn btn-default" href="/Admin/Order/List?purchaseOrderId=#=Id#"><i class="fa fa-eye"></i>@T("Admin.PurchaseOrders.ViewAllOrders.Button")</a>'
                                        }
                                    ]
                                });
                        });
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            @*//search button
                            $('#search-purchase-order').click(function () {
                                //search
                                var grid = $('#purchase-order-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.ProductName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-purchase-order").click();
                                    return false;
                                }
                            });*@
                        });

                        function additionalData() {
                            var data = {
                                @*ProductName: $('#@Html.FieldIdFor(model => model.ProductName)').val(),
                                FilterDate: $('#@Html.FieldIdFor(model => model.FilterDate)').val(),*@
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
