﻿@model Nop.Admin.Models.PurchaseOrders.PendingOrderListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.PendingOrders").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Pending orders");
}

<style>
    label.btn span {
        font-size: 1.5em;
    }

    label input[type="radio"] ~ i.fa.fa-circle-o {
        color: #c8c8c8;
        display: inline;
    }

    label input[type="radio"] ~ i.fa.fa-dot-circle-o {
        display: none;
    }

    label input[type="radio"]:checked ~ i.fa.fa-circle-o {
        display: none;
    }

    label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
        color: #438ABB;
        display: inline;
    }

    label:hover input[type="radio"] ~ i.fa {
        color: #438ABB;
    }

    label input[type="checkbox"] ~ i.fa.fa-square-o {
        color: #c8c8c8;
        display: inline;
    }

    label input[type="checkbox"] ~ i.fa.fa-check-square-o {
        display: none;
    }

    label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
        display: none;
    }

    label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
        color: #438ABB;
        display: inline;
    }

    label:hover input[type="checkbox"] ~ i.fa {
        color: #438ABB;
    }

    div[data-toggle="buttons"] label.active {
        color: #438ABB;
    }

    div[data-toggle="buttons"] label {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 2em;
        text-align: left;
        white-space: nowrap;
        vertical-align: top;
        cursor: pointer;
        background-color: none;
        border: 0px solid #c8c8c8;
        border-radius: 3px;
        color: #c8c8c8;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

        div[data-toggle="buttons"] label:hover {
            color: #438ABB;
        }

        div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .k-icon k-i-clock {
        display: none !important;
    }
</style>

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.PendingOrders")
    </h1>
    <div class="pull-right">
        <button type="button" id="consolidate-po" name="save" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.PurchaseOrders.button.Consolidate")
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.OrderDate)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.OrderDate)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.WorkShift)
                                </div>
                                <div class="col-md-8">
                                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                                        @foreach (var selectListItem in Model.WorkShiftList)
                                        {
                                            <label class="btn @(selectListItem.Selected ? "active" : "")">
                                                <input type="radio" name='WorkShift' value="@selectListItem.Value" checked="@selectListItem.Selected">
                                                <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                                                <span>@selectListItem.Text</span>
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="button" id="search-purchase-order" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="purchase-order-grid"></div>

                    <script>
                        var selectedIds = [];
                        var grid;

                        $(document).ready(function() {
                            grid = $("#purchase-order-grid")
                                .kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("PendingOrders", "PurchaseOrder"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)],
                                        @Html.Partial("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template:
                                                "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                            width: 50,
                                            hidden: true
                                        },
                                        {
                                            field: "FullName",
                                            title: "@T("Admin.PurchaseOrders.List.CustomerName")",
                                            width: 300
                                        }, {
                                            field: "StringOrderDate",
                                            title: "@T("Admin.PurchaseOrders.List.OrderDate")",
                                            width: 300,
                                            //template:
                                            //"#= kendo.toString(kendo.parseDate(OrderDate, 'yyyy-MM-dd'), 'dd/MM/yyyy hh:mm') #"
                                            //"#= kendo.toString(kendo.parseDate(OrderDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #"
                                        }, {
                                            field: "Address",
                                            title: "@T("Admin.PurchaseOrders.List.Address")",
                                            width: 300
                                        }, {
                                            field: "Id",
                                            title: "@T("Admin.Common.Actions")",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template:
                                                '<a class="btn btn-default" href="/Admin/Order/Edit/#=Id#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                        }
                                    ]
                                });

                            function additionalData() {
                                var data = {
                                    WorkShift: $("input[name=WorkShift]:checked").val(),
                                    OrderDate: $('#@Html.FieldIdFor(model => model.OrderDate)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            $('#mastercheckbox')
                                .click(function() {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                    if (selectedIds.length > 0) {
                                        $('#consolidate-po').removeClass('hidden');
                                    } else {
                                        $('#consolidate-po').addClass('hidden');
                                    }
                                });

                            //wire up checkboxes.
                            $('#purchase-order-grid').on('change',
                                    'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]',
                                    function(e) {
                                        var $check = $(this);
                                        if ($check.is(":checked") == true) {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked == -1) {
                                                //add id to selectedIds.
                                                selectedIds.push($check.val());
                                            }
                                        } else {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked > -1) {
                                                //remove id from selectedIds.
                                                selectedIds = $.grep(selectedIds,
                                                    function(item, index) {
                                                        return item != $check.val();
                                                    });
                                            }
                                        }
                                        updateMasterCheckbox();
                                        if (selectedIds.length > 0) {
                                            $('#consolidate-po').removeClass('hidden');
                                        } else {
                                            $('#consolidate-po').addClass('hidden');
                                        }
                                    });

                            $('#consolidate-po').click(function(e) {
                                e.preventDefault();

                                // Need to create PO for all orders so trigger click on hidden master checkbox
                                // and it will add all Ids in selectedIds array
                                $("#mastercheckbox").click();

                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("Consolidate", "PurchaseOrder"))",
                                    data: postData,
                                    complete: function(data) {
                                        // navigate to next view (second step of PO creation)
                                        window.location.href = "/Admin/PurchaseOrder/Detail";
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    },
                                    traditional: true
                                });
                                return false;
                            });

                            $("#select-all").on('click',
                                    function() {
                                        grid.select(grid.tbody.find(">tr"));
                                    });

                            //search button
                            $('#search-purchase-order').click(function () {
                                //search
                                var grid = $('#purchase-order-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });

                        function onDataBound(e) {
                            $('#purchase-order-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]')
                                .each(function() {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes =
                                $('#purchase-order-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]')
                                    .length;
                            var numChkBoxesChecked =
                                $('#purchase-order-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>