﻿@{
    //page title
    ViewBag.Title = T("Admin.Competitors.AddNew").Text;
    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("Competitors list");
    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map_canvas_product {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Competitors.AddNew")
    </h1>
    <div class="pull-right">

    </div>
</div>
<div id="map_canvas_product" class="" style="width: 100%; Height: 500px"></div>

<section class="map" id="google_map">

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIe9l7gj_B8-VTfK9hoEGYjvPCpbnTN0s&libraries=geometry,places">
    </script>
    <script>
        var markers = [];
        var latLng;
        var mapCompanyMap;

        function initializeCompanyMap() {
            var myOptions = {
                zoom: 14,
                center: latLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE
                }
            };
            mapCompanyMap = new google.maps.Map(document.getElementById("map_canvas_product"), myOptions);

            addMarker(latLng);

            //mapCompanyMap.addListener('click', function (event) {
            //    addMarker(event.latLng);
            //});
            //// Create the DIV to hold the control and call the CenterControl()
            //// constructor passing in this DIV.
            //var centerControlDiv = document.createElement('div');
            //var centerControl = new CenterControl(centerControlDiv, mapCompanyMap);

            //centerControlDiv.index = 1;
            //mapCompanyMap.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
        }

        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: mapCompanyMap,
                icon: '@storeLocation/Content/Images/bluecircle.png'
            });
            markers.push(marker);
            latLng = location;
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            setMapOnAll(mapCompanyMap);
        }

        $(document).ready(function () {
            // get current location
            navigator.geolocation.getCurrentPosition(function (p) {
                latLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
            });

            setTimeout(initializeCompanyMap, 200);

        });

    </script>
</section>